# .gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.db
.env

# Django
backend/staticfiles/
backend/media/

# Node
frontend/node_modules/
frontend/dist/
frontend/.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
